/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

/* Container styles */


/* Heading styles */
h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Paragraph styles */
p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

/* Button styles */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Reset button styles */
#resetButton {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    display: none;
}

#resetButton:hover {
    background-color: #bd2130;
}

/* Message styles */
#message {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    display: none; /* Aggiunta per nascondere il messaggio inizialmente */
}
